<h3>User</h3>
<p>
<%= image_tag(@user.small_image_url, :alt => @user.name, :align => "left") %>
<br>
&nbsp;Name: <%= @user.name %>
<br>
&nbsp;Profile: <%= link_to @user.link %>
</p>

<%= button_to('Check My Books', show_to_read_shelf_path(@user), :method => :get, :class => 'btn btn-large btn-primary')  %>
